/venv/
/.idea/
/parts_longs/
/parts_shorts/
/25spread/
/Merge_MNQ_contracts/files_to_merge_inputs/
/Merge_MNQ_contracts/merged_files_outputs/
/TimeShift_TradeHistory/inputs/
/TimeShift_TradeHistory/outputs/
/XLSX_files_split/input/
/XLSX_files_split/output2/
/1500 count/csvs/
/1500 count/Runs_reports_static/
/1500 count/Runs_reports_dynamic/
/1500 count/Logs/
/XLSX_files_split/output/
/Merge_MNQ_contracts/cont1.csv
/Merge_MNQ_contracts/cont2.csv
/Merge_MNQ_contracts/cont3.csv
/Merge_MNQ_contracts/cont4.csv
/Merge_MNQ_contracts/cont5.csv
/Merge_MNQ_contracts/cont6.csv
/Merge_MNQ_contracts/cont7.csv
/Merge_MNQ_contracts/MNQ_merged.csv
/Merge_MNQ_contracts/MNQ_merged_no_spread.csv
/DST/MNQ_merged_no_spread.csv
/DST/splits/
/DST/merged/
